
body{
    background-color: rgb(19, 3, 3);
}
#nav{
    width: 100%;
    height: 90px;
    /* background-color: red; */
    display: flex;
    align-items: center;
    padding: 0 150px;
    gap: 50px;
    position: fixed;
    justify-content: flex-start;
    z-index: 99;
    color:white;
    margin-top: 80px;
    font-weight: bold;
}
#nav a{
    text-decoration: none;
}
#nav img{
    height: 97px;
}
#nav h4{
    text-transform: uppercase;
    font-weight: 500;
}
#nav a{
    text-decoration: none;
    color: white;
}
.m1{
    color:black;
    background-color: greenyellow;
    font-size: 25px;
    font-weight: bold;
    height: 30px;
    padding-top: 10px;
    padding-bottom: 5px;
    border-radius: 5px;
    border-top: 3px solid rgb(193, 71, 71);
    border-left: 3px solid rgb(193, 71, 71);
    position: fixed;
}
.b1{
    margin-top: 150px;
}
.b1{
    color: black;
    background-color: white;
    width: 300px;
    height: 300px;
    margin-left: 80px;
    border-radius: 8px;
    text-shadow: 5px;
    position: absolute;
    border-bottom: 5px solid red;
    border-right: 5px solid red;
    
}
.b1:hover{
    cursor: pointer;
    background-color:greenyellow;
    color: black;
}
.b1 h1{
    padding-left: 20px;
}
.b1 div{
    padding-left: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
}
.b2{
    color: black;
    background-color: white;
    width: 300px;
    height: 300px;
    margin-left: 430px;
    border-radius: 8px;
    position: absolute;
    margin-top: 150px;
    border-bottom: 5px solid red;
    border-right: 5px solid red;
}
.b2:hover{
    cursor: pointer;
    background-color: greenyellow;
    color: black;
}
.b2 h1{
    padding-left: 10px;
}
.b2 div{
    padding-left: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
}
.b3{
    color: black;
    background-color: white;
    width: 300px;
    height: 300px;
    margin-left: 800px;
    border-radius: 8px;
    position: absolute;
    margin-top: 150px;
    border-bottom: 5px solid red;
    border-right: 5px solid red;
    

}
.b3:hover{
    cursor: pointer;
    background-color: greenyellow;
    color: black;
}
.b3 h1{
    padding-left: 10px;
}
.b3 div{
    padding-left: 10px;
}
.b4{
    color: black;
    background-color: white;
    width: 300px;
    height: 300px;
    margin-left: 430px;
    border-radius: 8px;
    text-shadow: 5px;
    position: absolute;
    margin-top: 500px;
    border-bottom: 5px solid red;
    border-right: 5px solid ;
    
}
.b4:hover{
    cursor: pointer;
    background-color: greenyellow;
    color: black;
}
.b4 h1{
    padding-left: 10px;
}
.b4 div{
    padding-left: 10px;
}
.b5{
    color: black;
    background-color: white;
    width: 300px;
    height: 300px;
    margin-left: 80px;
    border-radius: 8px;
    text-shadow: 5px;
    position: absolute;
    margin-top: 500px;
    border-bottom: 5px solid red;
    border-right: 5px solid red;
}
.b5:hover{
    cursor: pointer;
    background-color: greenyellow;
    color: black;
}
.b5 h1{
    padding-left: 10px;
}
.b5 div{
    padding-left: 10px;
}
.b6{
    color: black;
    background-color: white;
    width: 300px;
    height: 300px;
    margin-left: 800px;
    border-radius: 8px;
    text-shadow: 5px;
    position: absolute;
    margin-top: 500px;
    border-bottom: 5px solid red;
    border-right: 5px solid red;
}
.b6:hover{
    cursor: pointer;
    background-color: greenyellow;
    color: black;
}
.b6 h1{
    padding-left: 10px;
}
.b6 div{
    padding-left: 10px;
}
#page4{
    height: 30vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    position: relative;
}
.elem{
    height: 70%;
    width: 26%;
    overflow: hidden;
    border-radius: 20px;
    position: relative;
}